.posterContainer {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-color: #0f1114;
}

.image {
    object-fit: cover;
}

.gradientOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #0f1114, transparent);
    z-index: 2;
}